patmat/.bsp/sbt.json
classes/
democracy/.metals/
democracy/project/metals.sbt
democracy/project/project/metals.sbt
democracy/project/project/project/metals.sbt
democracy/target/global-logging/sbt-global-log14615503983429218276.log
democracy/.bloop/bloop.settings.json
democracy/.bloop/democracy-test.json
democracy/.bloop/democracy.json
democracy/.metals/metals.h2.db
democracy/.metals/metals.log
democracy/project/.bloop/bloop.settings.json
democracy/project/.bloop/democracy-build.json
democracy/project/project/.bloop/
democracy/project/project/project/project/target/config-classes/$c8e00c08eaf9c16e0486.cache
democracy/project/project/project/project/target/config-classes/$c8e00c08eaf9c16e0486.class
democracy/project/project/project/project/target/config-classes/$c8e00c08eaf9c16e0486$.class
democracy/project/project/project/target/config-classes/$9284f2b764ddbb297880.cache
democracy/project/project/project/
democracy/project/project/target/
democracy/project/
democracy/target/
democracy/.metals/*
democracy/.bloop/
democracy/.metals/metals.log
democracy/.bsp/sbt.json
democracy/src/main/scala/democracy/MajorityJudgement.scala
todo/project/project/project/target/*
todo/project/project/target/*
todo/project/target/*
todo/target/
todo/.bloop/
todo/project/.bloop/
todo/.metals/
quickcheck/project/project/project/target/
quickcheck/project/project/target/
quickcheck/project/project/project/project/target/
quickcheck/project/target/
quickcheck/target/
quickcheck/.bloop/
quickcheck/.metals/
quickcheck/.bsp/
quickcheck/project/project/.bloop/
